{% extends 'base.html' %}
{% block content %}
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="bradcam_text text-center">
            <h3>About Us</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ bradcam_area  -->
  <!-- about start -->
  <div class="container">
    <h1 style="padding-top: 30px">About Us</h1>
    <br />
    <p>
      SS GLOBAL SHIPPING AND FORWARDING LLC, Dubai is lead by highly skilled
      and diligent professionals with extensive experience in the fields of
      Shipping, Freight forwarding and Logistics. With our experience and
      international network, we are capable of handling any shipping
      operations around the globe. We handle all kinds of Air Cargo, Sea
      Freight and Ground Transport operations. SS GLOBAL & Forwarding L.L.C is
      equipped with efficient resources and highly skilled personals to ensure
      the best and diligent service in local and world market. We are
      constantly updating and innovating our services and methods based on the
      complex requirements of our clients to meet with the ever-changing scope
      of shipping and logistic operations. We strive to maximize the
      efficiency of logistics for our clients by minimizing the procurement,
      shipping and handling costs while maintaining high security and
      reliability of the whole process. Our logisticians are ready to serve
      you with any complex requirements. Please contact us for your next
      shipping and logistic requirements.
    </p>
  </div>
  <!-- about end -->
{% endblock %}