{% extends 'base.html' %} {% block content %}
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_area2 bradcam_bg_2">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="bradcam_text text-center">
          <h3>Global Coverage</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/ bradcam_area  -->
<div class="container py-3">
  <h1>GLOBAL COVERAGE</h1>
  <br />
  <h5>A seamless service connecting middle east with global regions</h5>
  <br />
  <p>
    SS GLOBAL Shipping is making robust connections by leveraging SS GLOBAL
    Group’s global presence and capability offering extensive and comprehensive
    freight forwarding and logistics solutions. Also, connecting business with
    global trade and offering services, ideas and solutions for complex
    fulfilment needs of varied business entities across regions, thus meeting
    their logistics challenges.
  </p>
  <p>
    SS GLOBAL Shipping has a network of offices within U.A.E at Dubai, Sharjah
    and Abu Dhabi as well as in other middle east regions at Kuwait, Qatar
    (Doha) and Saudi Arabia (Riyadh, Dammam and Jeddah). Globally, as a group
    company of SS GLOBAL Group, Singapore, has 130 offices in 33 countries with
    an extensive network of agents worldwide.
  </p>
</div>
{% endblock %}
