{% load static %}
<!-- footer start -->
<footer class="footer">
    <div class="footer_top">
      <div class="container">
        <div class="row">
          <div class="col-xl-3 col-md-6 col-lg-3">
            <div class="footer_widget">
              <h3 class="footer_title">Services</h3>
              <ul>
                <li>
                  <a href="{% url 'freight_forwarding' %}">FREIGHT FORWARDING</a>
                </li>
                <li>
                  <a href="{% url 'removals_relocations' %}"
                    >REMOVALS & RELOCATION</a
                  >
                </li>
                <li>
                  <a href="{% url 'project_logistics' %}">PROJECT LOGISTICS</a>
                </li>
                <li>
                  <a href="{% url 'logistics_management' %}">LOGISTICS MANAGEMENT</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-xl-2 col-md-6 col-lg-2">
            <div class="footer_widget">
              <h3 class="footer_title">Company</h3>
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'services' %}"> Services</a></li>
                <li><a href="{% url 'contact' %}">Contact Us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-1"></div>
          <div class="col-xl-2 col-md-6 col-lg-2">
            <div class="footer_widget">
              <h3 class="footer_title">Project</h3>
              <ul>
                <li><a href="{% url 'road_project' %}">Road Project</a></li>
                <li><a href="{% url 'sea_project' %}"> Sea Project</a></li>
                <li><a href="{% url 'railway_project' %}">Railway Project</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xl-4 col-md-6 col-lg-4">
            <div class="footer_widget">
              <h3 class="footer_title">Transportation</h3>
              <ul>
                <li>
                  <a href="{% url 'road_transportation' %}">Road Transportation</a>
                </li>
                <li>
                  <a href="{% url 'airy_transportation' %}"> Airy Transportation</a>
                </li>
                <li>
                  <a href="{% url 'sea_transportation' %}"> Sea Transportation</a>
                </li>
                <li>
                  <a href="{% url 'railway_transportation' %}"
                    >Railway Transportation</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copy-right_text">
      <div class="container">
        <div class="footer_border"></div>
        <div class="row">
          <div class="col-xl-12">
            <p class="copy_right text-center">
              Copyright &copy; 2019
              All rights reserved
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--/ footer end  -->
  <!-- JS here -->
  <script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
  <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'js/ajax-form.js' %}"></script>
  <script src="{% static 'js/waypoints.min.js' %}"></script>
  <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
  <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'js/scrollIt.js' %}"></script>
  <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
  <script src="{% static 'js/wow.min.js' %}"></script>
  <script src="{% static 'js/nice-select.min.js' %}"></script>
  <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
  <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'js/plugins.js' %}"></script>
  <!-- <script src="js/gijgo.min.js"></script> -->
  <script src="{% static 'js/slick.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>