{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_area2 bradcam_bg_2">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="bradcam_text text-center">
            <h3>Sea Transport</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ bradcam_area  -->
  <!-- service_details_start  -->
  <div class="service_details_area">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4">
          <div class="service_details_left">
            <h3>SEA TRANSPORT</h3>
            <div
              class="nav nav-pills"
              id="v-pills-tab"
              role="tablist"
              aria-orientation="vertical"
            >
              <a
                class="active"
                id="v-pills-home-tab"
                data-toggle="pill"
                href="#v-pills-home"
                role="tab"
                aria-controls="v-pills-home"
                aria-selected="true"
                >Transport</a
              >
            </div>
          </div>
        </div>
        <div class="col-lg-8 col-md-8">
          <div class="tab-content" id="v-pills-tabContent">
            <div
              class="tab-pane fade show active"
              id="v-pills-home"
              role="tabpanel"
              aria-labelledby="v-pills-home-tab"
            >
              <div class="service_details_info">
                <h3>Sea Transport details</h3>
                <p>
                  Combined land and sea transportation to all ports on the entire neighboring countries and vice versa
                  Central Asia, Europe, Middle East & Africa Subcontinent - ...
                </p>
              </div>
                <div class="service_thumb">
                  <img
                    class="img-fluid"
                    src="{% static 'img/service/sea1.png' %}"
                    alt="img"
                  />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- service_details_start  -->
{% endblock %}