{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_area2 bradcam_bg_2">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="bradcam_text text-center">
            <h3>Freight Forwarding</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ bradcam_area  -->
  <!-- service_details_start  -->
  <div class="service_details_area">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4">
          <div class="service_details_left">
            <h3>FREIGHT FORWARDING</h3>
            <div
              class="nav nav-pills"
              id="v-pills-tab"
              role="tablist"
              aria-orientation="vertical"
            >
              <a
                class="active"
                id="v-pills-home-tab"
                data-toggle="pill"
                href="#v-pills-home"
                role="tab"
                aria-controls="v-pills-home"
                aria-selected="true"
                >Ocean Freight</a
              >
              <a
                class=""
                id="v-pills-air-tab"
                data-toggle="pill"
                href="#v-pills-air"
                role="tab"
                aria-controls="v-pills-air"
                aria-selected="false"
                >Air Cargo</a
              >
              <a
                class=""
                id="v-pills-messages-tab"
                data-toggle="pill"
                href="#v-pills-messages"
                role="tab"
                aria-controls="v-pills-messages"
                aria-selected="false"
                >Land Transport</a
              >
            </div>
          </div>
        </div>
        <div class="col-lg-8 col-md-8">
          <div class="tab-content" id="v-pills-tabContent">
            <div
              class="tab-pane fade show active"
              id="v-pills-home"
              role="tabpanel"
              aria-labelledby="v-pills-home-tab"
            >
              <div class="service_details_info">
                <h3>Ociean Freight details</h3>
                <p>
                  We specializes in Ocean Export & Import (full and less than
                  container load, FCL/LCL) whether you are shipping 1 box or
                  1,000 full containers, your shipment is important to us. Our
                  commitment to making your shipping experience the best
                  possible has set us apart from the competition. Delivering
                  between ports in UAE and all over Globe.
                </p>
                <ul class="mylist">
                  <li>FCL/LCL consolidation services.</li>
                  <li>
                    Agency network in Central Asia, Europe, Middle East & Africa Subcontinent.
                  </li>
                  <li>Port / Door collection & deliveries.</li>
                  <li>Customs clearance & Documentation.</li>
                  <li>Break bulk cargo handling.</li>
                  <li>Ro/Ro cargoes.</li>
                  <li>Project handling.</li>
                </ul>
              </div>
              <div class="service_thumb">
                <img class="img-fluid" src="{% static 'img/service/1.png' %}" alt="" />
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="v-pills-air"
              role="tabpanel"
              aria-labelledby="v-pills-air-tab"
            >
              <div class="service_details_info">
                <h3>Air Cargo details</h3>
                <p>
                  We offer airfreight services enabling you to send
                  time-sensitive goods efficiently and safely. So whether you
                  want to transport high value merchandise, perishable
                  produce, etc., we are fully qualified to deliver your
                  shipment to any worldwide location.
                </p>
                <ul class="mylist">
                  <li>
                    We also Charter flights to Iraq and Afghanistan with an
                    experienced and professional team.
                  </li>
                  <li>Export / Import of Airfreight shipments.</li>
                  <li>Customs clearance.</li>
                  <li>Air charters.</li>
                  <li>Cargo insurance.</li>
                  <li>Airway bills stocks.</li>
                </ul>
              </div>
              <div class="service_thumb">
                <img class="img-fluid" src="{% static 'img/service/3.png' %}" alt="" />
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="v-pills-messages"
              role="tabpanel"
              aria-labelledby="v-pills-messages-tab"
            >
              <div class="service_details_info">
                <h3>Land Transport details</h3>
                <p>
                  We have facilities to do Overland Transportation to
                  UpperGulf, Red sea.
                </p>
                <ul class="mylist">
                  <li>FTL/ LTL</li>
                  <li>Reasonable price</li>
                  <li>Boarder agents set up.</li>
                  <li>Proper handling.</li>
                  <li>Cargo insurance.</li>
                  <li>Status Updation on Daily basis.</li>
                </ul>
                <br />
                <h5 style="text-decoration: underline">
                  SPECIALIZED IN TRANSPORTATION TO CIS COUNTRIES, IRAQ &
                  AFGHAN TRANSIT
                </h5>
                <br />
                <p>
                  We take this opportunity to introduce our company as one of
                  the leading logistic service provider for CIS Countries,
                  Iraq & Afghanistan with Head Office operating in Dubai and
                  having qualified and experienced staff to give best services
                  to our valuable customers.
                </p>
                <p>
                  SS GLOBAL SHIPPING AND FORWARDING LLC in UAE is among the
                  very few service providers for CIS Countries, Iraq &
                  Afghanistan that are in operation despite the difficulties
                  over the past few years.
                </p>
                <p>
                  SS GLOBAL SHIPPING AND FORWARDING LLC established a separate
                  unit to provide reliable and economical one window solution
                  to all logistics needs to and from CIS Countries, Iraq &
                  Afghanistan. Our experience in cargo handling in CIS
                  Countries, Iraq & Afghanistan region through advanced system
                  of functionality ensures quality logistics management to
                  customer's satisfaction. We are ready to deal with all kind
                  of logistics requirements whether it is Humanitarian Aid
                  Transportation or Regular Transit Trade or reconstruction
                  project cargo.
                </p>
                <p>
                  SS GLOBAL SHIPPING AND FORWARDING LLC can handle all types
                  of shipments including food, building materials, project
                  cargo and other general cargo without any difficulty and at
                  most competitive rates.
                </p>
                <p>
                  WWS is fully geared even more now to handle adept trucking
                  requirements with our newly added network of own bonded
                  trucking.
                </p>
                <p>
                  SS GLOBAL SHIPPING AND FORWARDING LLC is a multi-faceted
                  logistics company carefully structured to meet customers'
                  wide range of transportation needs and services for any part
                  of CIS Countries, Iraq & Afghanistan
                </p>
              </div>
              <div class="service_thumb">
                <img class="img-fluid" src="{% static 'img/service/2.png' %}" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- service_details_start  -->
{% endblock %}