{% extends 'base.html' %}
{% block content %}
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_area2 bradcam_bg_2">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="bradcam_text text-center">
            <h3>Project Logistics</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ bradcam_area  -->
  <div class="container">
    <h1 style="padding-top: 20px">PROJECT LOGISTICS</h1>
    <p>
      The core business for SS GLOBAL & Forwarding is to handle Break bulk,
      RO/RO & offshore and onshore PROJECT TRANSPORTATION We ship cargo from
      factories Worldwide and deliver cargo to jobsites Worldwide. Each
      project is unique, few jobs are alike and we take nothing for granted
      when we start up on a new Project. We handle all types of cargo which
      can be part of a project, from small LCL shipments and containers, to
      very Large and very Heavy units. To get the cargo to its destination we
      can apply all modes of transportation:
    </p>
    <ul class="mylist">
      <li>By Ship</li>
      <li>By Truck</li>
      <li>By Rail</li>
      <li>By Air</li>
    </ul>
    <br />
    <p>
      We select our carriers with care and use only companies with proven
      records. Our own network of offices covers a major part of the Globe -
      and our extensive network of partners covers the rest ! To ensure
      successful handling of a project, there must be adequate KNOWLEDGE,
      CAPACITY and FLEXIBILITY. This we understand at SS GLOBAL & Forwarding
      and our organisation is built to meet exactly these requirements. We
      have experts in VESSEL CHARTERING, HEAVY LIFT, CONTAINER SHIPMENTS,
      TRUCKING, AIRFREIGHT, RAIL, BREAK BULK and PROJECT MANAGEMENT
    </p>
  </div>
{% endblock %}