{% extends 'base.html' %} {% load static %} {% block content %}
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_area2 bradcam_bg_2">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="bradcam_text text-center">
          <h3>DANGEROUS GOODS STORAGE AND TRANSPORTATION</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/ bradcam_area  -->
<div class="container py-5">
  <h1>TRANSPORT, STORAGE AND HANDLING OF DANGEROUS GOODS</h1>
  <br />
  <p>
    Dangerous cargo consists of substances that can pose risks to health,
    property, safety or to the environment. This classification is on account of
    the poisonous, flammable or corrosive nature of the cargo. Therefore,
    efficient storage and transportation solutions for dangerous goods are a
    mandate when it comes to handling cargo of such nature.
  </p>
  <p>
    SS GLOBAL Shipping offers state-of-the-art storage and handling services for
    dangerous goods. All nine classes of dangerous goods are handled with the
    support of our global network through all means of transport, i.e. air, sea,
    road as well as rail.
  </p>
  <p>
    Our facilities enable storage of hazardous & explosive materials per DG
    classification, in compliance with safety standards. Additionally, we also
    offer packaging, customs clearance, labelling and documentation for
    dangerous goods.
  </p>
</div>
{% endblock %}
