{% extends 'base.html' %} {% load static %} {% block content %}
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="bradcam_text text-center">
          <h3>LOGISTICS & WAREHOUSING</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/ bradcam_area  -->
<div class="container py-5">
  <h1>LOGISTICS & WAREHOUSING SERVICES</h1>
  <br />
  <h5>WHAT WE DO</h5>
  <br />
  <p>
    SS GLOBAL Shipping’s warehousing and logistics services can satisfy all of
    your client’s requirements.
  </p>
  <p>
    Whether you sell to industrials, high-end department stores, mass
    merchandisers, or directly to end user via the Internet, SS GLOBAL Shipping
    will take care of your company and your clients.
  </p>
  <p>
    With our own modern facilities centrally located at various locations around
    the Jebel Ali Free Zone, the client’s distribution capabilities and storage
    options are maximized. SS GLOBAL Shipping can provide you with a full range
    of services, in a flexible, efficient, competitive and competent
    environment.
  </p>
  <p>
    SS GLOBAL Shipping provides customized service packages with an end-to-end
    service for all clients.
  </p>
  <p>
    SS GLOBAL Shipping is expanding it’s warehousing and logistics capabilities
    by adding new warehouses every year. Our centralized warehousing locations,
    specialization in multi-user operations and efficient resource utilization
    programs, have resulted in SS GLOBAL Shipping being able to offer greater
    economies of scale advantages to it’s clients.
  </p>
  <p>
    SS GLOBAL Shipping has a roadmap to integrate technology into various
    processes. This will allow for greater information transparency and
    efficient process workflows between SS GLOBAL Shipping, Clients and their
    valuable customer.
  </p>
  <br />
  <h5>SS GLOBAL SHIPPING CAPABILITIES</h5>
  <br />
  <ul class="mylist">
    <li>
      Storage of merchandise on pallets, open stock in bins, crates, drums, etc.
    </li>
    <li>Storage of dangerous goods</li>
    <li>Pick and pack operations, palletizing and shrink wrapping</li>
    <li>Custom packaging and labelling</li>
    <li>Barcoding and labelling</li>
    <li>Parcel manifestation. Mail order or e-commerce package processing</li>
    <li>
      National distribution for parcels, pallets, part loads or full truck loads
    </li>
    <li>Internet-based warehouse management system</li>
    <li>International distribution services through worldwide partnerships</li>
  </ul>
</div>
{% endblock %}
