{% extends 'base.html' %} {% block content %} {% load static %}
<!-- slider_area_start -->
<div class="slider_area">
  <div class="single_slider d-flex align-items-center slider_bg_1">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-xl-8">
          <div class="slider_text text-center justify-content-center">
            <h3>SS GLOBAL SHIPPING AND FORWARDING LLC</h3>
            <a class="boxed-btn3" href="{% url 'services' %}">Our Services</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- slider_area_end -->

<div class="transportaion_area">
  <div class="container">
    <h2>WELCOME</h2>
    <br />
    <p>
      SS GLOBAL SHIPPING AND FORWARDING LLC is company based in heart of Dubai,
      is a young dynamic freight solutions provider company, with professional
      staff who has over 20 years of global experience and Supported by its own
      offices and associates. SS GLOBAL SHIPPING AND FORWARDING LLC is
      "one-stop-solution" to meet all of your logistics requirements. You will
      get personalized service at every level. SS GLOBAL SHIPPING AND FORWARDING
      LLC is one of the leading multifaceted business conglomerates in UAE.
      Since 2013 we are engaged in a wide range of activities extensively in our
      client's Shipping & Forwarding requirement and using our expertise to
      assist them to find solution that is most suitable to their business
      environments. Our target is to provide "Total Solution" to the highly
      potential local manufacturing industries with limited infrastructure
      established in 2013, our company continues to maintain or exceed standards
      that are demanded by the best Shipping & Logistics companies in the UAE.
      We employ dedicated individuals who identify and exploit the right
      opportunities. We are a professionally managed company that believes in an
      enjoyable long-term relationship with all its key stakeholders including
      employees, customers and local communities. We are active in both Seaport
      and Airport Customs Clearance with most experienced staff; we also have at
      our disposal fleet of trucks to offer road haulage services within UAE and
      various GCC destinations.
    </p>
    <br />
    <h6>
      WE ARE SPECIALIZING IN HANDLING TRANSPORTATION TO CIS COUNTRIES, IRAQ &
      AFGHAN .
    </h6>
    <p>
      Our dedicated freight forwarding department operations include Ocean and
      Air freight services to Upper Gulf, Europe and Indian sub-continent as
      well as Inbound shipments from all over the world.
    </p>
  </div>
</div>

<div class="service_area">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="section_title mb-50 text-center">
          <h3>Our Services</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-3">
        <div class="single_service">
          <div class="thumb">
            <img src="{% static 'img/service/1.png' %}" alt="" />
          </div>
          <div class="service_info">
            <h3>
              <a href="freight_forwarding.html">FREIGHT FORWARDING</a>
            </h3>
            <p>
              We offer airfreight services enabling you to send time-sensitive
              goods efficiently and safely.
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-3">
        <div class="single_service">
          <div class="thumb">
            <img src="{% static 'img/service/2.png' %}" alt="" />
          </div>
          <div class="service_info">
            <h3>
              <a href="removals_relocations.html">REMOVALS & RELOCATION</a>
            </h3>
            <p>
              At the corporate level, Wide Wing functions like a partner,
              offering dynamic reporting functionality on.
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-3">
        <div class="single_service">
          <div class="thumb">
            <img src="{% static 'img/service/3.png' %}" alt="" />
          </div>
          <div class="service_info">
            <h3><a href="project_logistics.html">PROJECT LOGISTICS</a></h3>
            <p>
              The core business for SS GLOBAL & Forwarding is to handle Break
              bulk, RO/RO & offshore and.
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-3">
        <div class="single_service">
          <div class="thumb">
            <img src="{% static 'img/service/5.png' %}" alt="" />
          </div>
          <div class="service_info">
            <h3>
              <a href="logistics_management.html">LOGISTICS MANAGEMENT </a>
            </h3>
            <p>
              SS GLOBAL is an Authorized Customs Clearance Agent in UAE for all
              kinds of cargo.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="section_title text-center">
          <a class="boxed-btn3" href="{% url 'services' %}">More Services</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- contact_location  -->
<div class="contact_location">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6">
        <div class="location_left">
          <div class="logo">
            <a href="{% url 'home' %}">
              <img src="{% static 'img/logo.png' %}" alt="" />
            </a>
          </div>
          <ul>
            <li>
              <a href="#"> <i class="fa fa-facebook"></i> </a>
            </li>
            <li>
              <a href="#"> <i class="fa fa-google-plus"></i> </a>
            </li>
            <li>
              <a href="#"> <i class="fa fa-twitter"></i> </a>
            </li>
            <li>
              <a href="#"> <i class="fa fa-youtube"></i> </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xl-3 col-md-3">
        <div class="single_location">
          <h3><img src="img/icon/address.svg" alt="" /> Location</h3>
          <p>
            CBD BUILDING, Opp Al Khaleej Centre - Al Mankhool Rd - Bur Dubai -
            Dubai, UNITED ARAB EMIRATES
          </p>
        </div>
      </div>
      <div class="col-xl-3 col-md-3">
        <div class="single_location">
          <h3><img src="img/icon/support.svg" alt="" /> Contact</h3>
          <p>
            +10 267 3563 4562 <br />
            support@logistico.com
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--/ contact_location  -->
{% endblock %}
